.section_busca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_busca {
    width: 100%;
    max-width: 1024px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 10px;
}

.lupa {
    width: 30px;
    height: 30px;
}

.container_busca input {
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 0px 10px;
    height: 100%;
}