.container_card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #f3f3f3;
    border: 1px solid #daa520;
    border-radius: 5px;
}

.container_card div {
    width: 100%;
    height: 250px;
}

.imagem_card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos_card {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.infos_card span {
    width: 100%;
    text-align: end;
}

.infos_card div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.infos_card div small {
    color: #daa520;
}

.infos_card div h3,
.infos_card div p {
    color: #000000;
}