.container_categorias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_categorias {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.botao_categoria {
    width: 150px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.botao_atual {
    width: 150px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    background-color: #daa520;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.botao_categoria span {
    font-size: 14px;
}

.img_botao {
    width: 20px;
    height: 20px;
}

@media (max-width: 1024px) {
    .nav_categorias {
        padding: 0px 10px;
    }
}