@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.home {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner {
    width: 100%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.img_banner {
    width: 100%;
    height: 100%;

}

.cabecalho {
    position: absolute;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho h1 {
    color: #fff;
    letter-spacing: 5px;
    font-size: 46px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.cabecalho p {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    text-align: center;
}

.home main {
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home main h2 {
    font-family: 'Dancing Script', cursive;
}

.container_produtos {
    width: 100%;
    padding-top: 20px;
    max-width: 1024px;
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 4;
    gap: 40px;
    flex-grow: 2;
    background-color: #f3f3f3;
}

@media (max-width: 620) {
    .cabecalho {
        gap: 10px;
    }
    .cabecalho h1 {
        font-size: 32px;
    }

    .cabecalho p {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .cabecalho {
        max-width: 100%;
    }
}